//{ "presets": ["es2015", { "modules": false }] }

{
  "presets": [
    [
      "es2015",
      "env"
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "es2015",
          "env"
        ]
      ]
    }
  }
}